.calendar-select{
  width: 100%;
  height: 56px;
  position: fixed;
  left: 0;
  top: 72px;
  z-index: 2;
  padding: 10px 24px 10px 210px;
  background-color: #FFF;
  border-bottom: 1px solid #ccc;

  .choose-app, .choose-platform{
    float: left;
    width: 145px;
    margin-right: 12px;
  }

  .ivu-dropdown-menu{
    max-width: 145px;
  }

  .cur-app, .cur-platform{
    display: block;
    height: 36px;
    padding: 3px 18px 3px 12px;
    border: 1px solid #E3E8EE;
    border-radius: 50px;
    position: relative;

    .down-btn{
      position: absolute;
      right: 10px;
      top: 12px;
    }
  }

  .cur-app{
    width: 145px;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    // color: $title-color;
  }

  .cur-platform{
    width: 100px;
    padding-left: 4px;
  }

  .platform-icon{
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #39f;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    margin-right: 4px;
  }

  .platform-item{
    display: block;
    padding: 4px 10px;
  }

  .fn-btn-wrap{
    padding-top: 10px;
    border-top: #e1e1e1;
    text-align: center;
  }

  .choose-date{
    float: right;
    width: 188px;
    height: 36px;
    text-align: right;
    line-height: 36px;
    position: relative;

    .calendar-icon{
      font-size: 14px;
      padding-right: 8px;
    }

    .cur-date{
      display: inline-block;
      padding-right: 8px;
      vertical-align: middle;
    }

    .ivu-picker-panel-shortcut{
      text-align: left;
    }

    .icon-btn{
      vertical-align: middle;
    }

    .data-picker-module .ivu-date-picker-rel{
      height: 36px;
      line-height: 36px;
      font-weight: bold;
      a{
        // color: $title-color;
      }
    }
  }

}