.build-step-one {
  .brule-body-panel-rlueblock {
    width: 100%;
    // border-bottom: 1px dashed #e0e4ea;
  }
  .rule-block {
    width: 100%;
  }
  .brule-body-panel-footer {
    width: 100%;
  }
  .empty {
    width: 50%;
    height: 29px;
    border-right: 1px dashed #e0e4ea;
  }
  .brule-body-panel-footer-btn {
    width: 100%;
    text-align: center;
  }
  .build-des {
    textarea.ivu-input {
      font-size: 12px;
    }
  }
}
