.user-group-detail {
  .common-detail-top {
    height: 50px;
    padding: 0 20px;
    background-color: #fff;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #ced3d9;
    &.success {
      background-color: #19be6b;
    }
    &.failure {
      background-color: #ed3f14;
    }
    .common-detail-top-title {
      color: #5697f1;
      cursor: pointer;
    }
  }
  .common-detail-margin {
    padding-top: 50px;
  }
}