.host-detail {
  .common-detail-top {
    height: 100px;
    line-height: 50px;
    background-color: #fff;
    font-size: 14px;
    .common-detail-top-item {
      padding: 0 20px;
      border-bottom: 1px solid #ced3d9;
    }
    .common-detail-top-title {
      color: #5697f1;
      cursor: pointer;
    }
  }
  .table-list {
    margin-top: 100px;
  }
}