.monitor-container {
  width: 100%;
  // max-height: 1580px;
  // margin-top: 70px;
  padding: 6px 10px 6px;
  .host-list {
    // margin-top: 16px;
    // .scroll::-webkit-scrollbar {
    //   height: 5px;
    // }
    .ivu-badge-count {
      z-index: 9;
    }
    .ok-count {
      .ivu-badge-count {
        background: #19be6b !important;
      }
    }
    .alert-count {
      .ivu-badge-count {
        background: #ed3f14 !important;
      }
    }
    .unknow-count {
      .ivu-badge-count {
        background: #ff9900 !important;
      }
    }
    .nodata-count {
      .ivu-badge-count {
        background: #bbbec4 !important;
      }
    }
    .add-count {
      .ivu-badge-count {
        background: #2d8cf0 !important;
      }
    }
  }
}
