.create-board {
  .set-body {
    width: 100%;
    margin-top: 55px;
    background: #f5f7f9;
  }
  /*设置看板名称*/
  .set-head {
    width: 100%;
    box-sizing: border-box;
    // padding: 8px 25px;
    overflow: hidden;
    background: #FFF;
    border-bottom: 1px solid #CCC;
  }
  .left-column,
  .center-column,
  .right-column {
    line-height: 40px;
    padding: 8px 25px;
  }
  .left-column {
    float: left;
    width: 100px;
  }
  .center-column {
    margin-left: 100px;
    margin-right: 300px;
    border-right: 1px solid #CCC;
    .sub-right {
      width: 150px;
      margin-left: -100%;
      padding-left: 20px;
      float: right;
    }
    .sub-center {
      margin-right: 150px;
    }
  }
  .right-column {
    width: 300px;
    margin-left: -100%;
    padding-left: 30px;
    float: right;
  }
  /*固定侧边框*/
  .fixedIcon {
    position: fixed;
    right: -305px;
    top: 165px;
    z-index: 300;
    transition: right 0.5s;
  }
  .box {
    right: 0;
  }
  .fixedIcon>.icon {
    cursor: pointer;
    float: left;
    width: 30px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #d8dce1;
    border-right: none;
    border-radius: 5px 0 0 5px;
    box-shadow: -1px 0 5px rgba(199, 199, 199, 0.8);
    background: #FFF url('../../assets/image/icon1.png');
    background-position: center center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
  }
  .box>.icon {
    cursor: pointer;
    background: #FFF url('../../assets/image/icon.png');
    background-position: center center;
    background-size: 16px 16px;
    background-repeat: no-repeat;
  }
  .fixedIcon>.showBox {
    float: left;
    width: 300px;
    height: 315px;
    border: 1px solid #d8dce1;
    background: #FFF;
    border-right: none;
    border-radius: 3px 0 0 3px;
    box-shadow: -1px 0 5px rgba(199, 199, 199, 0.8);
  }
  /*添加创建图表弹框*/
  .pop-alter {
    width: 100%;
    min-width: 1280px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    background: rgba(32, 35, 53, 0.6);
  }
  .pagingbox {
    width: 830px;
    height: 80%;
    max-height: 815px;
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -415px;
    background: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    animation: scale 0.5s;
  }
  .set-panel {
    position: absolute;
    top: 70px;
    left: 35.5%;
    width: 29%;
    /*height:658px;*/
    animation: scale 0.5s;
  }
  .chartBox {
    box-sizing: border-box;
    margin-top: 5px;
    float: left;
    padding: 5px 15px;
  }
  /*---动画效果---*/
  @keyframes scale {
    from {
      transform: scale(0.8);
    }
    ,
    to {
      transform: scale(1);
    }
  }
}
