.panel-list {
  width: 100%;
  .common-detail-top {
    font-size: 14px;
    background-color: #fff;
    // height: 50px;
    // line-height: 50px;
    // padding: 0 20px;
    // border-bottom: 1px solid #ced3d9;
    margin-bottom: 10px;
    .common-detail-top-title {
      color: #5697f1;
      cursor: pointer;
    }
  }
  .table-list {
    // margin-top: 50px;
  }
}
